<footer>
    <div class="container-fluid">
        <div class="row pt-2">
            <div class="col-2">
                <img src="https://via.placeholder.com/150x100/000000/FFFFFF/?text=logo" style="width: 80%;position: absolute;z-index: -1;" class="mt-4 ml-3">
            </div>
            <div class="col-2">
                <div class="col-12 pt-3 callcenter" style="height: 50%;">
                    <h6>Servicio Callcenter</h6>
                    <span><h6><i class="fas fa-phone-volume fa-x ml-2 mr-2"></i>(054) 456212</h6></span>
                </div>
                <div class="col-12 callcenter" style="height: 50%;"><strong>¿Del campo a la </strong></div>
            </div>
            <div class="col-2">
                <h5 class="pb-2">Nosotros 🍇</h5>
                <ul class="">
                    <li><a href="">¿Quienes somos?</a></li>
                    <li><a href="">Historia</a></li>
                    <li><a href="">Trabaja con nosotros</a></li>
                    <li><a href="">Establecimientos</a></li>
                </ul>
            </div>
            <div class="col-2">
                <h5 class="pb-2">Ayuda 🥑</h5>
                <ul>
                    <li><a href="">Preguntas frecuentes</a></li>
                    <li><a href="">Consultas y sugerencias</a></li>
                    <li><a href="">Contáctos</a></li>
                </ul>
            </div>
            <div class="col-2">
                <h5 class="pb-2">Legal 🍍</h5>
                <ul>
                    <li><a href="">Términos y condiciones</a></li>
                    <li><a href="">Política de privacidad</a></li>
                </ul>
            </div>
            <div class="col-2">
                <h5 class="pb-2">Siguenos 🍉</h5>
                <ul>
                    <li><a href=""><i class="fas fa-home mr-2"></i> Facebook</a></li>
                    <li><a href=""><i class="fas fa-home mr-2"></i> Instagram</a></li>
                    <li><a href=""><i class="fas fa-home mr-2"></i> Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>